<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-eye"></i>&nbsp;<strong>Post By {{name |  titlecase}}</strong>
    </nb-card-body>
</nb-card>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{sellerId}}" class="changePointer">
                <div *ngIf="profilePhoto; else defaultImgSmalla" style="position:relative">
                    <nb-user size="large" name="{{name |  titlecase}}" title={{email}} picture={{profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                </div>
                <ng-template #defaultImgSmalla>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{name |  titlecase}}" title={{email}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{sellerId}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <carousel>
                    <slide *ngFor="let one of post_images; let i=index">
                        <span class="playSpan" *ngIf="one.image_url; else defaultImg">
                                            <img class="sideImgTest playRelative" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" (click)="togView()" (click)="sendBundle(post_images)" (click)="openLg(content)" (click)="showOverview()" alt="" style="border-radius: 25px;">
                                            <img class="sideImgTest playAbsolute" (click)="togView()" (click)="sendBundle(post_images)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video" >
                                        </span>
                        <ng-template #defaultImg>
                            <span class="playSpan">
                            <img class="sideImgTest playRelative" (click)="togView()" (click)="sendBundle(post_images)" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Avatar Img">
                            <img class="sideImgTest playAbsolute" (click)="togView()" (click)="sendBundle(post_images)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video">
                            </span>
                        </ng-template>
                    </slide>
                </carousel>
            </nb-card-body>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="toggleBid">Bids</h4>
                <h4 class="modal-title" *ngIf="toggleLike">Likes</h4>
                <h4 class="modal-title" *ngIf="toggleVote">Votes</h4>
                <span *ngIf="video_check==false">
                    <h4 class="modal-title" *ngIf="toggleView">Image</h4>
                    </span>
                <span *ngIf="video_check==true">
                    <h4 class="modal-title" *ngIf="toggleView">Video</h4>
                    </span>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
            </div>
            <div class="modal-body">
                <div *ngIf="toggleView">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="toggleBid" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let item of bids">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="item.url;else defaultPopAvtarA">
                                <nb-user size="large" name="{{item.user_name |  titlecase}}" title="KD {{item.bid_amount}}" picture={{item.url}}>
                                </nb-user>
                                </span>
                                <ng-template #defaultPopAvtarA>
                                    <nb-user size="large" name="{{item.user_name |  titlecase}}" title="KD {{item.bid_amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{item.bid_user_id}}"><i style="font-size: 32px;position: absolute;right: 10px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="bids_length==0">
                        <p>No Bids</p>
                    </div>
                </div>
                <div *ngIf="toggleLike">
                    <div *ngIf="post_like_length==0;else realLikes">
                        <p>No Likes</p>
                    </div>
                    <ng-template #realLikes>
                        <p>Total Like: {{post_like_length}}</p>
                    </ng-template>
                </div>
                <div *ngIf="toggleVote">
                    <div *ngIf="vote_length==0;else realVote">
                        <p>No Votes</p>
                    </div>
                    <ng-template #realVote>
                        <p>Total Votes: {{vote_length}}</p>
                    </ng-template>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{sellerId}}" class="changePointer">
                <div *ngIf="profilePhoto; else defaultImgSmallb" style="position:relative">
                    <nb-user size="large" name="{{name |  titlecase}}" title={{email}} picture={{profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                </div>
                <ng-template #defaultImgSmallb>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{name |  titlecase}}" title={{email}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{sellerId}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <div style="overflow: auto;white-space: nowrap;">
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <td><strong>Detail</strong></td>
                                <td class="colorLight ">
                                    {{ details }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Place Name</strong></td>
                                <td class="colorLight ">
                                    {{ place_name }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Amount</strong></td>
                                <td class="colorLight ">
                                    KD {{amount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button nbButton size="xsmall" (click)="togBid()" (click)="openVerticallyCentered(content)" status="warning" style="margin-top:10px;width:32.66%;">Bids {{bids_length}}</button>
                <button nbButton size="xsmall" (click)="togLike()" (click)="openVerticallyCentered(content)" status="info" style="margin-top:10px;width:32.66%;margin-left:1%">Likes {{post_like_length}}</button>
                <button nbButton size="xsmall" (click)="togVote()" (click)="openVerticallyCentered(content)" status="primary" style="margin-top:10px;width:32.66%;margin-left:1%">Votes {{vote_length}}</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>