<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-warning"></i>&nbsp;<strong>Reported Story</strong>
    </nb-card-body>
</nb-card>
<!-- <nb-alert status="success" *ngIf="toggleDiscardSuccess">
    Discard successfully
</nb-alert>
<nb-alert status="success" *ngIf="toggleDeleteSuccess">
    Delete successfully
</nb-alert>
<nb-alert status="warning" *ngIf="toggleDiscardError">
    Discard Fail Retry
</nb-alert>
<nb-alert status="warning" *ngIf="toggleDeleteError">
    Delete Fail Retry
</nb-alert> -->
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of details; let i = index">
        <nb-reveal-card class="col-sm-12 col-md-12 col-lg-12" style="padding-right:0px !important">
            <nb-card-front>
                <nb-card>
                    <nb-badge text="{{item.count}}" status="danger" position="top right"></nb-badge>
                    <nb-card-header style="position:relative">
                        <div *ngIf="item.ReportedUserStory[0].profilePhoto; else defaultImgSmall" style="position:relative" routerLink="/user-detail/{{item.ReportedUserStory[0]._id}}" class="changePointer">
                            <nb-user size="large" name="{{item.ReportedUserStory[0].username |  titlecase}}" title={{item.ReportedUserStory[0].country.countryName}} picture={{item.ReportedUserStory[0].profilePhoto}}>
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.ReportedUserStory[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.ReportedUserStory[0].is_verified">
                        </div>
                        <ng-template #defaultImgSmall>
                            <span class="ngTemp">
                            <nb-user size="large" name="{{item.ReportedUserStory[0].username |  titlecase}}" title={{item.ReportedUserStory[0].country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.ReportedUserStory[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.ReportedUserStory[0].is_verified">
                            </span>
                        </ng-template>
                        <i routerLink="/user-detail/{{item.userDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 10px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
                    </nb-card-header>
                    <nb-card-body>
                        <!-- <carousel>
                            <slide *ngFor="let one of item.storyDetail[0]; let i=index"> -->
                        <span class="playSpan" *ngIf="item.storyDetail[0].url; else defaultImg">
                                                <img class="sideImg playRelative" routerLink="/story-detail/{{item._id}}" [src]=item.storyDetail[0].url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" routerLink="/story-detail/{{item.story_id}}" style="border-radius: 25px;">
                                                <img class="sideImg playAbsolute" routerLink="/story-detail/{{item._id}}"  src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.storyDetail[0].is_video" >
                                            </span>
                        <ng-template #defaultImg>
                            <span class="playSpan">
                                    <img class="sideImg playRelative" routerLink="/story-detail/{{item._id}}" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Story Img">
                                    <img class="sideImg playAbsolute" routerLink="/story-detail/{{item._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.storyDetail[0].is_video">
                                    </span>
                        </ng-template>
                        <!-- </slide>
                        </carousel> -->
                    </nb-card-body>
                    <nb-card-footer>
                        <span *ngIf="item.storyDetail[0].status == 'running';else del1">
                            <button nbButton size="xsmall" status="danger" (click)="delete(item._id,'')" style="width:49%;">Delete</button>
                            <button nbButton size="xsmall" status="warning" (click)="discard(item._id,'','all')" style="width:49%;margin-left: 2%">Discard All</button>
                        </span>
                        <ng-template #del1>
                            <button nbButton size="xsmall" status="warning" (click)="discard(item._id,'','all')" style="width:100%">Discard All</button>
                        </ng-template>
                        <i style="font-size: 32px;position:absolute;bottom: 21px;right:13px;color:red" class="icon ion-md-switch changePointer"></i>
                    </nb-card-footer>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card status="danger" style="height: -webkit-fill-available;">
                    <nb-card-header style="text-align:center">Reported By</nb-card-header>
                    <nb-card-body style="height:100%;" class="col-sm-12 col-md-12 col-lg-12">
                        <nb-accordion>
                            <nb-accordion-item *ngFor="let step of item.userDetails">
                                <nb-accordion-item-header>
                                    <img class="verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="step.user_id[0].is_verified">
                                    <img class="verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!step.user_id[0].is_verified"><span style="margin-left: 1%;color:#969494">{{step.user_id[0].username | titlecase}}</span>
                                    <i style="font-size: 16px;float:right;color:#A9A8A8" class="icon ion-md-arrow-dropdown"></i>
                                </nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <table class="table" style="overflow: auto;white-space: nowrap;">
                                        <tbody>

                                            <tr>
                                                <td><strong>Reported By</strong></td>
                                                <td class="colorLight ">
                                                    <span style="color:#3A3F7C" class="changePointer" routerLink="/user-detail/{{step.user_id[0]._id}}">{{step.user_id[0].username | titlecase}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reason</strong></td>
                                                <td class="colorLight ">
                                                    {{step.reason}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Description</strong></td>
                                                <td class="colorLight ">
                                                    {{step.description}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span *ngIf="item.storyDetail[0].status == 'running';else del3">
                                        <button nbButton size="xsmall" status="danger" (click)="delete(item._id,'')" style="width:49%;">Delete</button>
                                        <button nbButton size="xsmall" status="warning" (click)="discard('',step._id,'one')" style="width:49%;margin-left: 2%">Discard</button>
                                    </span>
                                    <ng-template #del3>
                                        <button nbButton size="xsmall" status="warning" (click)="discard('',step._id,'one')" style="width:100%">Discard</button>
                                    </ng-template>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>
                    </nb-card-body>
                    <nb-card-footer>
                        <span *ngIf="item.storyDetail[0].status == 'running';else del2">
                            <button nbButton size="xsmall" status="danger" (click)="delete(item._id,'')" style="width:49%;">Delete</button>
                            <button nbButton size="xsmall" status="warning" (click)="discard(item._id,'','all')" style="width:49%;margin-left: 2%">Discard All</button>
                        </span>
                        <ng-template #del2>
                            <button nbButton size="xsmall" status="warning" (click)="discard(item._id,'','all')" style="width:100%">Discard All</button>
                        </ng-template>
                        <i style="font-size: 32px;position:absolute;bottom: 21px;right:13px" class="icon ion-md-close-circle"></i>
                    </nb-card-footer>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" title="prev page" nbButton outline status="primary" (click)="decPage()"><</button>
    <button size="xsmall" title={{page}} style="margin-left: 10px;margin-right: 10px" nbButton status="info">{{page}}</button>
    <button size="xsmall" title="next page" nbButton outline status="primary" (click)="incPage()">></button>
</div>