<carousel>
    <slide *ngFor="let one of Img; let i=index">
        <span *ngIf="!one.is_video;else videoView">
              <span *ngIf="one.image_url; else defaultImg">
                  <img class="sideImgTest col-lg-12 col-md-12 col-sm-12" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';"  alt="" style="border-radius: 25px;height:600px;object-fit: cover">
              </span>
        <ng-template #defaultImg>
            <img class="sideImgTest" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Avatar Img">
        </ng-template>
        </span>
        <ng-template #videoView>
            <video class="col-lg-12 col-md-12 col-sm-12" height="700px" controls>
                      <source [src]="temp" type="video/mp4">
                    </video>
        </ng-template>
    </slide>
</carousel>