<div style="position:relative;width: 100%;height: 100%;">
    <div class="child">
        <nb-card accent="primary" class="example-card">
            <nb-card-header class="center-me"><img src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/mazadlogo.png" class="imgStyling" alt=""></nb-card-header>
            <nb-card-body>
                <h4 style="text-align: center;">{{title}}</h4>
                <p style="text-align: center;color:rgb(160, 159, 159)">Please enter your registered email address</p>
                <div style="text-align: center" class="alert alert-success" role="alert" *ngIf="toggleSuccess">
                    Success
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleError">
                    Something Went Wrong
                </div>
                <form class="example-form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="adminEmail" name="adminEmail" placeholder="Email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button style="float: right;" mat-raised-button color="primary" type="submit" [disabled]=loading [nbSpinner]=loading nbSpinnerStatus="primary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">Next</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>