<div style="position:relative;width: 100%;height: 100%;">
    <div class="child">
        <nb-card accent="primary" class="example-card">
            <nb-card-header class="center-me"><img src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/mazadlogo.png" class="imgStyling" alt=""></nb-card-header>
            <nb-card-body>
                <h4 style="text-align: center;">New Password</h4>
                <p style="text-align: center;color:rgb(160, 159, 159)">Set your new password</p>
                <div style="text-align: center" class="alert alert-success" role="alert" *ngIf="toggleSuccess">
                    Success
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleError">
                    Something Went Wrong
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleCharError">
                    Character less than 7
                </div>
                <form class="example-form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="password" name="password" placeholder="Enter Password" type='password'>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="confirm" name="confirm" placeholder="Confirm Password" type='password'>
                    </mat-form-field>
                    <button style="float: right;" mat-raised-button color="primary" type="submit">Change password</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>