.titlePage {
    border-radius: 10px;
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    box-shadow: 0 2px 8px 0 #009dff;
    color: white;
}

.resizeCountry {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.changePointer {
    cursor: pointer;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-search {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #3FDF94;
    background: linear-gradient(to right, #3FDF94 8%, #40ce89 18%, #3FDF94 33%);
    background-size: 800px 104px;
    position: relative;
}

.animated-reset {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #9197FA;
    background: linear-gradient(to right, #9197FA 8%, #868de8 18%, #9197FA 33%);
    background-size: 800px 104px;
    position: relative;
}