<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-cart"></i>&nbsp;<strong>Order List</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleError">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <p>{{MsgAboveFilter}}</p>
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Search" [(ngModel)]="orderFilter" name="orderFilter">
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" (click)="Filter()" size="xsmall" status="success" class="animated-search" nbButton>Search</button>
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" size="xsmall" (click)="reset()" nbButton status="primary" class="animated-reset">Reset</button>
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" size="xsmall" (click)="wayCOD()" nbButton outline status="info">COD</button>
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" size="xsmall" (click)="wayCC()" nbButton outline status="info">CARD</button>
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" size="xsmall" (click)="wayALL()" nbButton outline status="info">ALL</button>
        <button style="margin-top: 10px;margin-right: 10px;cursor: pointer;" size="xsmall" (click)="togCancel()" nbButton outline status="info">Cancel Order</button>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div style="overflow: auto;white-space: nowrap;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list">
                        <th scope="row">{{item.display_id}}</th>
                        <td><img class="resizeCountry" src="/assets{{item.sellerCountryDetails[0].flagImageUrl}}" alt="">{{item.sellerCountryDetails[0].countryName}}</td>
                        <td><img class="resizeCountry" src="/assets{{item.user_country.flagImageUrl}}" alt="">{{item.user_country.countryName}}</td>
                        <td>KD {{item.amount}}</td>
                        <td>{{item.created_at | date}}</td>
                        <td><button size="xsmall" routerLink="/order-detail/{{item._id}}" nbButton outline status="success">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>
<div [hidden]="toggleError">
    <button size="xsmall" nbButton title="prev page" outline status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton title="next page" outline status="primary" (click)="incPage()">></button>
</div>