.titlePage {
    border-radius: 10px;
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    box-shadow: 0 2px 8px 0 #009dff;
    color: white;
}

.row {
    margin-right: 0px
}

.row {
    margin-left: 0px;
}

@media (max-width: 991px) {
    .container-fluid {
        padding-left: 0px
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding-left: 0px
    }
}

.align-all {
    padding-right: 0px;
    padding-left: 0px
}

.align-box {
    padding-left: 0px
}

@media (max-width: 991px) {
    .align-box {
        padding-right: 0px;
        padding-left: 0px
    }
}

.size_change {
    width: 50%;
    float: left;
}

@media (max-width: 991px) {
    .size_change {
        width: 100%;
        float: none;
    }
}

.changePointer {
    cursor: pointer;
}