<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-sunny"></i>&nbsp;<strong>Tags</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header>
                Tag Create
            </nb-card-header>
            <nb-card-body>
                <input type="text" nbInput fullWidth status="info" placeholder="Tag Name" [(ngModel)]="TagCreate">
                <button nbButton size="xsmall" (click)="resetCreate()" status="danger" style="margin-top:10px;width:49%;">Reset</button>
                <button nbButton size="xsmall" (click)="create()" status="success" style="margin-top:10px;width:49%;margin-left:2%">Create</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header>
                Tag Update
            </nb-card-header>
            <nb-card-body>
                <input type="text" nbInput fullWidth status="info" placeholder="Tag Update" value={{TagUpdate}} [(ngModel)]="TagUpdate" name="TagUpdate">
                <button nbButton size="xsmall" status="danger" (click)="resetUpdate()" style="margin-top:10px;width:49%;">Reset</button>
                <button nbButton size="xsmall" status="success" (click)="update()" style="margin-top:10px;width:49%;margin-left:2%">Update</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12" size="medium">
            <nb-card-header>
                Tag List
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let item of TagGroup">
                    {{item.name}}
                    <span title="Delete Tag" style="float:right;margin-left: 10px"><i style="font-size: 16px;" (click)="delete(item._id)" class="icon ion-md-close changePointer"></i></span>
                    <span title="Update Tag" style="float:right"><i style="font-size: 16px;" (click)="select(item._id,item.name)" class="icon ion-md-create changePointer"></i></span>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12" size="medium">
            <nb-card-header>
                Tag List Deleted
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let item of TagBeenDeleted">
                    {{item.name}}
                    <span title="Undo Tag" style="float:right;margin-left: 10px"><i style="font-size: 16px;" (click)="undo(item._id)" class="icon ion-md-undo changePointer"></i></span>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>