<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-sad"></i>&nbsp;<strong>Repoted Users</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-4 align-box" *ngFor="let detail of list; let i = index">
        <nb-card class="col-sm-12 col-md-12 col-lg-12" [ngClass]="{'animated-background': i == in}" (mouseover)="in = i" (mouseout)="in = -1">
            <nb-badge text=" {{detail.count}}" status="danger" position="top right"></nb-badge>
            <nb-card-header style="position: relative;" routerLink="/reported-detail/{{detail.reportedUserData[0]._id}}">

                <div *ngIf="detail.reportedUserData[0].profilePhoto; else defaultImgSmall" class="changePointer" style="position: relative;">
                    <nb-user size="large" name="{{detail.reportedUserData[0].username | titlecase}}" title={{detail.reportedUserData[0].country.countryName}} picture={{detail.reportedUserData[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.reportedUserData[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.reportedUserData[0].is_verified">
                </div>
                <ng-template #defaultImgSmall>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.reportedUserData[0].username | titlecase}}" title={{detail.reportedUserData[0].country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.reportedUserData[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.reportedUserData[0].is_verified">
                    </span>
                </ng-template>

                <i routerLink="/reported-detail/{{detail.reportedUserData[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>

            </nb-card-header>
        </nb-card>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton outline title="prev page" status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton outline title="next page" status="primary" (click)="incPage()">></button>
</div>