.titlePage {
    border-radius: 10px;
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    box-shadow: 0 2px 8px 0 #009dff;
    color: white;
}

.row {
    margin-right: 0px
}

.row {
    margin-left: 0px;
}

@media (max-width: 991px) {
    .container-fluid {
        padding-left: 0px
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding-left: 0px
    }
}

.align-all {
    padding-right: 0px;
    padding-left: 0px
}

.align-box {
    padding-left: 0px
}

@media (max-width: 991px) {
    .align-box {
        padding-right: 0px;
        padding-left: 0px
    }
}

.changePointer {
    cursor: pointer;
}

.verifiedAbsolute {
    position: absolute;
    bottom: -5px;
    left: 18px;
}

.verifiedResolution {
    width: 20px;
    height: 20px;
}

.ngTemp {
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #f6f7f8 8%, #dddddd 18%, #f6f7f8 33%);
    background-size: 900px 104px;
    position: relative;
}