<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-film"></i>&nbsp;<strong>Story</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of stories">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <span *ngIf="id != null">
                    <nb-badge *ngIf="item.status == 'running'"  text="Active" status="success" position="top right"></nb-badge>
                    <nb-badge *ngIf="item.status == 'stop'" text="Expired" status="danger" position="top right"></nb-badge>
            </span>
            <nb-card-header style="position: relative;" routerLink="/user-detail/{{item.userDetails[0]._id}}" class="changePointer">
                <div *ngIf="item.userDetails[0].profilePhoto; else defaultImgSmall" style="position: relative;">
                    <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title="{{item.created_at | date :'MMMM d, y, h:mm:ss a'}}" picture={{item.userDetails[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                </div>
                <ng-template #defaultImgSmall style="position: relative;">
                    <span class="ngTemp">
                  <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title="{{item.created_at | date :'MMMM d, y, h:mm:ss a'}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                  </nb-user>
                  <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                  <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                  </span>
                </ng-template>
                <i routerLink="/user-detail/{{item.userDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="!item.is_video; else storyViewVideo">
                <span class="playSpan" *ngIf="item.url; else defaultImgStory">
              <img class="sideImg playRelative" (click)="sendBundleStory(item)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" [src]=item.url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
              <img class="sideImg playAbsolute" (click)="sendBundleStory(item)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video" >
            </span>
                <ng-template #defaultImgStory>
                    <span class="playSpan">
                    <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="" style="border-radius: 25px;">
                    <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video" >
                  </span>
                </ng-template>
                </span>
                <ng-template #storyViewVideo>
                    <span class="playSpan" *ngIf="item.url; else defaultVideoStory">
                <img class="sideImg playRelative" (click)="sendBundleStory(item)" (click)="openLg(content)" (click)="togStory()" (click)="showOverview()" [src]=item.url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="Story" style="border-radius: 25px;">
                <img class="sideImg playAbsolute" (click)="sendBundleStory(item)" (click)="openLg(content)" (click)="togStory()" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video">
              </span>
                    <ng-template #defaultVideoStory>
                        <span class="playSpan">
              <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Story" style="border-radius: 25px;">
              <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video">
            </span>
                    </ng-template>
                </ng-template>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton size="xsmall" (click)="togBid()" (click)="openVerticallyCentered(content)" status="primary" style="width:49%">Bids {{item.bidsAndComments.length}}</button>
                <button nbButton size="xsmall" routerLink="/story-detail/{{item._id}}" status="warning" style="width:49%;margin-left: 2%;">Story Detail</button>
            </nb-card-footer>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="toggleBid">Bids</h4>
                <span *ngIf="!item.is_video">
              <h4 class="modal-title" *ngIf="toggleStory">Image</h4>
              </span>
                <span *ngIf="item.is_video">
              <h4 class="modal-title" *ngIf="toggleStory">Video</h4>
              </span>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <div *ngIf="toggleStory">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="toggleBid" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let list of item.bidsAndComments">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="list.url;else defaultPopAvtarA"> 
                                    <nb-user size="large" name="{{list.user_name |  titlecase}}" title="KD {{list.amount}}" picture={{list.url}}>
                                    </nb-user>
                                    </span>
                                <ng-template #defaultPopAvtarA>
                                    <nb-user size="large" name="{{list.user_name |  titlecase}}" title="KD {{list.amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{list.user_id}}"><span style="font-size: 21px;position: absolute;right: 14px;top:34px" class="changePointer">Info</span></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="item.bidsAndComments.length==0">
                        <p>No Bids</p>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton outline title="prev page" status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton outline title="next page" status="primary" (click)="incPage()">></button>
</div>