<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-wallet"></i>&nbsp;<strong>Payment Requests</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<nb-alert status="danger" *ngIf="togglePayError">Error in Completing Payment</nb-alert>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of details">
        <nb-reveal-card class="col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px">
            <nb-card-front>
                <nb-card>
                    <nb-card-header style="position:relative" routerLink="/user-detail/{{item.seller_id}}" class="changePointer">
                        <div *ngIf="item.sellerDetails[0].profilePhoto; else defaultImgSmall" style="position: relative">
                            <nb-user size="large" name="{{item.seller_name |  titlecase}}" title={{item.seller_country.countryName}} picture={{item.sellerDetails[0].profilePhoto}}>
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.sellerDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.sellerDetails[0].is_verified">
                        </div>
                        <ng-template #defaultImgSmall>
                            <span class="ngTemp">
                            <nb-user size="large" name="{{item.seller_name |  titlecase}}" title={{item.seller_country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.sellerDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.sellerDetails[0].is_verified">
                            </span>
                        </ng-template>
                        <i routerLink="/user-detail/{{item.seller_id}}" style="font-size: 32px;position: absolute;right: 28px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
                    </nb-card-header>
                    <nb-card-body>
                        <span *ngIf="item.type == 'post';else storyView">
                                    <carousel>
                                        <slide *ngFor="let one of item.imageDetails[0].post_images; let i=index">   
                                                    <span class="playSpan" *ngIf="one.image_url; else defaultImg">
                                                                <img  class="sideImg playRelative"  routerLink="/post-detail/{{item.imageDetails[0]._id}}" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                                                                <img class="sideImg playAbsolute" routerLink="/post-detail/{{item.imageDetails[0]._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video" >
                                                            </span>
                        <ng-template #defaultImg>
                            <span class="playSpan">
                            <img class="sideImg playRelative" routerLink="/post-detail/{{item.imageDetails[0]._id}}" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Post" style="border-radius: 25px;">
                            <img class="sideImg playAbsolute" routerLink="/post-detail/{{item.imageDetails[0]._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video">
                            </span>
                        </ng-template>
                        </slide>
                        </carousel>
                        </span>
                        <ng-template #storyView>
                            <span class="playSpan" *ngIf="item.imageDetails[0].url; else defaultImgStory">
                                                    <img  class="sideImg playRelative" (click)="togStory()"  (click)="sendBundleStory(item.imageDetails)" (click)="openLg(content)" (click)="showOverview()" [src]=item.imageDetails[0].url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                                                    <img class="sideImg playAbsolute" (click)="togStory()"  (click)="sendBundleStory(item.imageDetails)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.imageDetails[0].is_video" >
                                            </span>
                            <ng-template #storyView>
                                <span class="playSpan">
                                <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Story" style="border-radius: 25px;">
                                <img class="sideImg playAbsolute" (click)="togStory()" (click)="sendBundleStory(item.imageDetails)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.imageDetails[0].is_video">
                                </span>
                            </ng-template>

                        </ng-template>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px;color:red;" class="icon ion-md-switch"></i>
                    </nb-card-body>

                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card status="danger" style="height: -webkit-fill-available;">
                    <nb-card-header>Detail</nb-card-header>
                    <nb-card-body style="height:100%;" class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table" style="margin-top:20px; ">
                            <tbody>

                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td class="colorLight ">
                                        {{ item.sellerDetails[0].email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>phone</strong></td>
                                    <td class="colorLight ">
                                        {{ item.sellerDetails[0].phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>IBAN</strong></td>
                                    <td class="colorLight ">
                                        <span style="color: #3A3F7C" class="changePointer" (click)="togIban()" (click)="openVerticallyCentered(content)">View Detail</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Requested Amount</strong></td>
                                    <td class="colorLight ">
                                        KD {{item.orderDetails[0].amount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Approved</strong></td>
                                    <td class="colorLight ">
                                        <button nbButton (click)="togPay()" (click)="openVerticallyCentered(content)" status="primary" size="xsmall">Pass payment</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px" class="icon ion-md-close-circle"></i>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="togglePay">Payment</h4>
                <h4 class="modal-title" *ngIf="toggleIban">IBAN Information</h4>
                <h4 class="modal-title" *ngIf="toggleStory">
                    <span *ngIf="!item.imageDetails[0].is_video;else videoViewStory">Image</span>
                    <ng-template #videoViewStory>Video</ng-template>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <span *ngIf="toggleStory">
                    <router-outlet></router-outlet>
                </span>
                <span *ngIf="togglePay">
                        <textarea nbInput fullWidth placeholder="Enter comment" [(ngModel)]="textareaItemNgModel"></textarea>
                        <button nbButton size="xsmall" (click)="payment(item._id)" style="float:right" status="success">Accept Request</button>
                </span>
                <span *ngIf="toggleIban">
                <div *ngIf="item.sellerDetails[0].IBAN;else wrong">
                    <p><strong>banNumber</strong> : {{item.sellerDetails[0].IBAN.banNumber}}</p>
                    <p><strong>Bank Name</strong> : {{item.sellerDetails[0].IBAN.bankName}}</p>
                    <p><strong>Country Code</strong> : {{item.sellerDetails[0].IBAN.country_code}}</p>
                    <p><strong>Phone Number</strong> : {{item.sellerDetails[0].IBAN.phoneNumber}}</p>
                </div>
                <ng-template #wrong><strong>Not Found</strong></ng-template>
            </span>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton outline title="prev page" status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton outline title="next page" status="primary" (click)="incPage()">></button>
</div>