<div style="position:relative;width: 100%;height: 100%;">
    <div class="child">
        <nb-card accent="primary" style="min-width: 335px;max-width: 400px;">
            <nb-card-header class="center-me"><img src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/mazadlogo.png" class="imgStyling" alt=""></nb-card-header>
            <nb-card-body>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="loginError">
                    Retry
                </div>
                <form class="example-form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="adminEmail" name="adminEmail" placeholder="Email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="adminPassword" name="adminPassword" placeholder="Password *" type='password'>
                        <mat-error *ngIf="email.invalid">{{getErrorPassword()}}</mat-error>
                    </mat-form-field>
                    <span style="float:left;margin-left: 8px;"><a routerLink="/confirm-email/forget">Forgot Password?</a></span>
                    <button style="float: right;" mat-raised-button color="primary" type="submit" [disabled]=loading [nbSpinner]=loading nbSpinnerStatus="primary" nbSpinnerSize="xxsmall" nbSpinnerMessage="">Log In</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>