<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-film"></i>&nbsp;<strong>Story By {{detail.userDetail[0].username |  titlecase}}</strong>
    </nb-card-body>
</nb-card>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{detail.user_id}}" class="changePointer">
                <div *ngIf="detail.userDetail[0].profilePhoto; else defaultImgSmalla" style="position:relative">
                    <nb-user size="large" name="{{detail.userDetail[0].username |  titlecase}}" title={{detail.userDetail[0].email}} picture={{detail.userDetail[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                </div>
                <ng-template #defaultImgSmalla>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.userDetail[0].username |  titlecase}}" title={{detail.userDetail[0].email}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail.user_id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="!detail.is_video; else storyViewVideo">
                    <span class="playSpan" *ngIf="detail.url; else defaultImgStory">
                  <img class="sideImg playRelative" (click)="sendBundleStory(detail)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" [src]=detail.url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                  <img class="sideImg playAbsolute" (click)="sendBundleStory(detail)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.is_video" >
                </span>
                <ng-template #defaultImgStory>
                    <span class="playSpan">
                        <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="" style="border-radius: 25px;">
                        <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.is_video" >
                      </span>
                </ng-template>
                </span>
                <ng-template #storyViewVideo>
                    <span class="playSpan" *ngIf="detail.url; else defaultVideoStory">
                    <img class="sideImg playRelative" (click)="togStory()" (click)="sendBundleStory(detail)" (click)="openLg(content)" (click)="showOverview()" [src]=detail.url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="Story" style="border-radius: 25px;">
                    <img class="sideImg playAbsolute" (click)="togStory()" (click)="sendBundleStory(detail)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.is_video">
                  </span>
                    <ng-template #defaultVideoStory>
                        <span class="playSpan">
                  <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Story" style="border-radius: 25px;">
                  <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.is_video">
                </span>
                    </ng-template>
                </ng-template>
            </nb-card-body>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="toggleBid">Bids</h4>
                <span *ngIf="toggleStory">
                    <h4 class="modal-title" *ngIf="!detail.is_video">Image</h4>
                    </span>
                <span *ngIf="toggleStory">
                    <h4 class="modal-title" *ngIf="detail.is_video">Video</h4>
                    </span>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
            </div>
            <div class="modal-body">
                <div *ngIf="toggleStory">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="toggleBid" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let item of detail.bidsAndComments">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="item.url;else defaultPopAvtarA">
                                <nb-user size="large" name="{{item.user_name |  titlecase}}" title="KD {{item.amount}}" picture={{item.url}}>
                                </nb-user>
                                </span>
                                <ng-template #defaultPopAvtarA>
                                    <nb-user size="large" name="{{item.user_name |  titlecase}}" title="KD {{item.amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{item.user_id}}"><i style="font-size: 32px;position: absolute;right: 10px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="detail.bidsAndComments.length == 0">
                        <p>No Bids</p>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{detail.user_id}}" class="changePointer">
                <div *ngIf="detail.userDetail[0].profilePhoto; else defaultImgSmallb" style="position:relative">
                    <nb-user size="large" name="{{detail.userDetail[0].username |  titlecase}}" title={{detail.userDetail[0].email}} picture={{detail.userDetail[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                </div>
                <ng-template #defaultImgSmallb>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.userDetail[0].username |  titlecase}}" title={{detail.userDetail[0].email}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail.user_id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <div style="overflow: auto;white-space: nowrap;">
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <td><strong>Product Serial</strong></td>
                                <td class="colorLight ">
                                    {{ detail.product_serial }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Amount</strong></td>
                                <td class="colorLight ">
                                    KD {{detail.buyNowPrice}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Created At</strong></td>
                                <td class="colorLight ">
                                    {{ detail.created_at | date :'MMMM d, y, h:mm:ss a' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button nbButton size="xsmall" (click)="togBid()" (click)="openVerticallyCentered(content)" status="warning" style="margin-top:10px;width:32.66%;">Bids {{detail.bidsAndComments.length}}</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>