.flex-center {
    display: flex;
    justify-content: center;
}

.titlePage {
    border-radius: 10px;
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    box-shadow: 0 2px 8px 0 #009dff;
    color: white;
}

.changePointer {
    cursor: pointer;
}