<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-globe"></i>&nbsp;<strong>Dashboard</strong>
    </nb-card-body>
</nb-card>
<div class="row flex-center">
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-md-person"></i> Total Users</nb-card-header>
        <nb-card-body>
            <h4>Total Users</h4>
            <p>{{total_user}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/users" class="changePointer"><span routerLink="/users"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
    <div class="col-lg-1"></div>
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-logo-android"></i> Android Users</nb-card-header>
        <nb-card-body>
            <h4>Android Users</h4>
            <p>{{android_user}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/users/android" class="changePointer"><span routerLink="/users/android"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
    <div class="col-lg-1"></div>
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-logo-apple"></i> iOS Users</nb-card-header>
        <nb-card-body>
            <h4>iOS Users</h4>
            <p>{{ios_user}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/users/ios" class="changePointer"><span routerLink="/users/ios"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
</div>
<div class="row flex-center">
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-md-wallet"></i> Payment Requests</nb-card-header>
        <nb-card-body>
            <h4>Payment Requests</h4>
            <p>{{requested}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/request" class="changePointer"><span routerLink="/request"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
    <div class="col-lg-1"></div>
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-md-eye"></i> Total Posts</nb-card-header>
        <nb-card-body>
            <h4>Total Posts</h4>
            <p>{{postCount}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/post-list" class="changePointer"><span routerLink="/post-list"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
    <div class="col-lg-1"></div>
    <nb-card accent="primary" class="col-lg-3">
        <nb-card-header style="color: #3A3F7C"><i style="font-size: 32px;" class="icon ion-md-cart"></i> Orders</nb-card-header>
        <nb-card-body>
            <h4>Orders</h4>
            <p>{{order}}</p>
        </nb-card-body>
        <nb-card-footer routerLink="/order-list" class="changePointer"><span routerLink="/order-list"><i style="font-size: 32px;float:right" class="icon ion-md-arrow-dropright changePointer"></i></span></nb-card-footer>
    </nb-card>
</div>