<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-star-outline"></i>&nbsp;<strong>Story Bids</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of details; let i = index">
        <nb-reveal-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-front>
                <nb-card>
                    <nb-card-header style="position:relative" routerLink="/user-detail/{{item.userDetails[0]._id}}" class="changePointer">
                        <div *ngIf="item.userDetails[0].profilePhoto; else defaultImgSmall" style="position:relative">
                            <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title={{item.userCountryDetails[0].countryName}} picture={{item.userDetails[0].profilePhoto}}>
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                        </div>
                        <ng-template #defaultImgSmall>
                            <span class="ngTemp">
                            <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title={{item.userCountryDetails[0].countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                            </span>
                        </ng-template>
                        <i routerLink="/user-detail/{{item.userDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 10px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
                    </nb-card-header>
                    <nb-card-body>
                        <span class="playSpan" *ngIf="item.url; else defaultStry">
                                    <img class="sideImg playRelative" (click)="sendBundleStory(item)" (click)="openLg(content)" (click)="showOverview()" (click)="togStory()" [src]=item.url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                                    <img class="sideImg playAbsolute" (click)="sendBundleStory(item)" (click)="openLg(content)" (click)="showOverview()" (click)="togStory()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video" >
                                </span>
                        <ng-template #defaultStry>
                            <span class="playSpan">
                            <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" (click)="togStory()" alt="Post Img">
                            <img class="sideImg playAbsolute" (click)="sendBundleStory(item)" (click)="openLg(content)" (click)="showOverview()" (click)="togStory()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="item.is_video">
                            </span>
                        </ng-template>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px;color: red" class="icon ion-md-switch"></i>
                    </nb-card-body>

                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card status="danger" style="height: -webkit-fill-available;">
                    <nb-card-header>Detail</nb-card-header>
                    <nb-card-body style="height:100%;" class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table" style="margin-top:20px; ">
                            <tbody>

                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td class="colorLight ">
                                        {{ item.userDetails[0].email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>phone</strong></td>
                                    <td class="colorLight ">
                                        {{ item.userDetails[0].phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Highest Bid</strong></td>
                                    <td class="colorLight ">
                                        KD {{ amount[i] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Bid Approved</strong></td>
                                    <td class="colorLight ">
                                        <button nbButton status="primary" size="xsmall" (click)="togBid()" (click)="openVerticallyCentered(content)">Bids</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px" class="icon ion-md-close-circle"></i>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="toggleBid">Approved Bid</h4>
                <h4 class="modal-title" *ngIf="toggleStory">
                    <span *ngIf="item.is_video; else Imagelabel">Video</span>
                    <ng-template #Imagelabel>Image</ng-template>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span *ngIf="toggleStory">
                <router-outlet></router-outlet>
              </span>
                <span *ngIf="toggleBid">
                    <span *ngFor="let temp of item.bidsAndComments">
                            <nb-card>
                                    <nb-card-body>
                                        <span *ngIf="temp.url;else defaultPopAvtarA" >
                                        <nb-user size="large" name="{{temp.user_name |  titlecase}}" title={{temp.amount}} picture={{temp.url}}>
                                        </nb-user>
                                        </span>
                <ng-template #defaultPopAvtarA>
                    <nb-user size="large" name="{{temp.user_name |  titlecase}}" title="KD {{temp.amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                </ng-template>
                <span style="font-size: 21px;position: absolute;right: 14px;top:32px" *ngIf="temp.status=='approved'; else defaultpen">
                                                <span style="color:green;">Approved</span>
                </span>
                <ng-template #defaultpen style="color:red;font-size: 21px;position: absolute;right: 14px;top:32px">Pending</ng-template>
                </nb-card-body>
                </nb-card>
                </span>

                </span>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton title="prev page" outline status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton title="next page" outline status="primary" (click)="incPage()">></button>
</div>