<nb-card>
    <nb-card-body class="titlePage">
        <span *ngIf="name==null">
        <i style="font-size: 20px;" class="icon ion-md-person"></i>&nbsp;<strong>Users</strong>
    </span>
        <span *ngIf="name=='android'">
        <i style="font-size: 20px;" class="icon ion-logo-android"></i>&nbsp;<strong>Android Users</strong>
    </span>
        <span *ngIf="name=='ios'">
        <i style="font-size: 20px;" class="icon ion-logo-apple"></i>&nbsp;<strong>iOS Users</strong>
    </span>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Search" (keyup)="filter()" (keydown.backspace)="filter()" [(ngModel)]="userFilter" name="userFilter">
        <button style="margin-top: 10px; cursor: pointer;" (click)="filter()" size="xsmall" nbButton class="animated-search" status="success">Search</button>
        <button style="margin-top: 10px;margin-left: 10px; cursor: pointer;" size="xsmall" (click)="reset()" class="animated-reset" nbButton status="primary">Reset</button>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-4 align-box" *ngFor="let detail of list; let i = index">
        <nb-card class="col-sm-12 col-md-12 col-lg-12" [ngClass]="{'animated-background': i == in}" (mouseover)="in = i" (mouseout)="in = -1">
            <nb-card-header style="position: relative;" routerLink="/user-detail/{{detail._id}}" class="changePointer">
                <div *ngIf="detail.profilePhoto; else defaultImgSmall" style="position:relative">
                    <nb-user size="large" name="{{detail.username |  titlecase }}" title={{detail.country.countryName}} picture={{detail.profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                </div>
                <ng-template #defaultImgSmall>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.username |  titlecase }}" title={{detail.country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>

            </nb-card-header>
        </nb-card>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button nbButton size="xsmall" outline title="prev page" (click)="decPage()" status="primary"><</button>
    <button nbButton size="xsmall" title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button nbButton size="xsmall" outline title="next page" (click)="incPage()" status="primary">></button>
</div>