<div style="position:relative;width: 100%;height: 100%;">
    <div class="child">
        <nb-card accent="primary" class="example-card">
            <nb-card-header style="position:relative">
                <div *ngIf="detail.profilePhoto; else defaultImgSmall" style="position: relative">
                    <nb-user size="large" name="{{detail.username |  titlecase}}" title="" picture={{detail.profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                </div>
                <ng-template #defaultImgSmall>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.username |  titlecase}}" title="" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                    </span>
                </ng-template>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="!show"><div class="alert alert-success" role="alert" style="text-align: center;">{{answer}}</div></span>
                <span *ngIf="!no"><div class="alert alert-danger" role="alert" style="text-align: center;">{{answer}}</div></span>
                <form class="example-form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <input required minlength="8" matInput [(ngModel)]="password" name="password" placeholder="Enter password" type='password'>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="confirm" name="confirm" placeholder="Confirm password" type='password'>
                    </mat-form-field>
                    <button style="float: right;" mat-raised-button color="primary" type="submit">Change Password</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>