.example-card {
    min-width: 350px;
    max-width: 347px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgStyling {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    /* margin-left: 24px; */
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.center-me {
    margin: 0 auto;
}

.verifiedAbsolute {
    position: absolute;
    bottom: -5px;
    left: 18px;
}

.verifiedResolution {
    width: 20px;
    height: 20px;
}

.ngTemp {
    position: relative;
}