<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-sad"></i>&nbsp;<strong>Reported</strong>
    </nb-card-body>
</nb-card>
<!-- <nb-alert *ngIf="toggleReportSuccess" status="success">UnReport Success</nb-alert>
<nb-alert *ngIf="toggleReportError" status="danger">Failed Retry</nb-alert> -->
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{reportedPerson._id}}" class="changePointer">
                <div *ngIf="reportedPerson.profilePhoto; else defaultImgSmalla" style="position:relative">
                    <nb-user size="large" name="{{reportedPerson.username |  titlecase}}" title={{reportedPerson.country.countryName}} picture={{reportedPerson.profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="reportedPerson.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!reportedPerson.is_verified">
                </div>
                <ng-template #defaultImgSmalla>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{reportedPerson.username |  titlecase}}" title={{reportedPerson.country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="reportedPerson.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!reportedPerson.is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{reportedPerson._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="reportedPerson.profilePhoto; else defaultImg">
                            <img class="sideImg" src={{reportedPerson.profilePhoto}} alt="" style="border-radius:25px;">
                        </span>
                <ng-template #defaultImg>
                    <img class="sideImg" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Avatar Img">
                </ng-template>
            </nb-card-body>
            <nb-card-footer>
                <span *ngIf="!toggleBlock; else elseUnBlock">
                            <button nbButton size="xsmall" (click)="fnBlock()" status="danger" style="width:49%;">Block</button>
                        </span>
                <ng-template #elseUnBlock>
                    <button nbButton size="xsmall" (click)="fnBlock()" status="info" style="width:49%;">UnBlock</button></ng-template>
                <button nbButton size="xsmall" (click)="unReport('all',0,reportedPerson._id)" status="warning" style="width:49%;margin-left: 2%">Discard All</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="padding:35px;text-align: center">
                <span>Repoted By</span>
            </nb-card-header>
            <nb-card-body style="white-space: nowrap;height:416px;">
                <nb-accordion>
                    <nb-accordion-item *ngFor="let item of detail">
                        <nb-accordion-item-header>
                            <img class="verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                            <img class="verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified"><span style="margin-left: 1%;color:#969494">{{item.userDetails[0].username | titlecase}}</span>
                            <i style="font-size: 16px;float:right;color:#A9A8A8" class="icon ion-md-arrow-dropdown"></i>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div style="overflow: auto;white-space: nowrap;">
                                <table class="table table-striped">
                                    <tbody>

                                        <tr>
                                            <td><strong>Reported By</strong></td>
                                            <td class="colorLight ">
                                                <span style="color:#3A3F7C" class="changePointer" routerLink="/user-detail/{{item.userDetails[0]._id}}">{{item.userDetails[0].username | titlecase}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Reason</strong></td>
                                            <td class="colorLight ">
                                                {{item.reason}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Message</strong></td>
                                            <td class="colorLight ">
                                                {{ item.description }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span *ngIf="!toggleBlock; else elseUnBlock">
                                        <button nbButton size="xsmall" (click)="fnBlock()" status="danger" style="width:49%;">Block</button>
                                    </span>
                                <ng-template #elseUnBlock>
                                    <button nbButton size="xsmall" (click)="fnBlock()" status="info" style="width:49%;">UnBlock</button></ng-template>
                                <button nbButton size="xsmall" (click)="unReport('one',item._id,0)" status="warning" style="width:49%;margin-left: 2%">Discard</button>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
            </nb-card-body>
        </nb-card>
    </div>
</div>