<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-star"></i>&nbsp;<strong>Post Bids</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of details; let i = index">
        <nb-reveal-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-front>
                <nb-card>
                    <nb-card-header style="position:relative">
                        <div *ngIf="item.userDetails[0].profilePhoto; else defaultImgSmall" style="position:relative" routerLink="/user-detail/{{item.userDetails[0]._id}}" class="changePointer">
                            <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title={{item.userCountryDetails[0].countryName}} picture={{item.userDetails[0].profilePhoto}}>
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                        </div>
                        <ng-template #defaultImgSmall>
                            <span class="ngTemp">
                            <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title={{item.userCountryDetails[0].countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                            </span>
                        </ng-template>
                        <i routerLink="/user-detail/{{item.userDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 10px;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
                    </nb-card-header>
                    <nb-card-body>
                        <carousel>
                            <slide *ngFor="let one of item.post_images; let i=index">
                                <span class="playSpan" *ngIf="one.image_url; else defaultImg">
                                                <img  class="sideImg playRelative" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" routerLink="/post-detail/{{item._id}}" style="border-radius: 25px;">
                                                <img class="sideImg playAbsolute" routerLink="/post-detail/{{item._id}}"  src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video" >
                                            </span>
                                <ng-template #defaultImg>
                                    <span class="playSpan">
                                    <img  class="sideImg playRelative" routerLink="/post-detail/{{item._id}}" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Post Img">
                                    <img class="sideImg playAbsolute" routerLink="/post-detail/{{item._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video">
                                    </span>
                                </ng-template>
                            </slide>
                        </carousel>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px;color:red" class="icon ion-md-switch changePointer"></i>
                    </nb-card-body>

                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card status="danger" style="height: -webkit-fill-available;">
                    <nb-card-header>Detail</nb-card-header>
                    <nb-card-body style="height:100%;" class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table" style="margin-top:20px; ">
                            <tbody>

                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td class="colorLight ">
                                        {{ item.userDetails[0].email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>phone</strong></td>
                                    <td class="colorLight ">
                                        {{ item.userDetails[0].phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Highest Bid</strong></td>
                                    <td class="colorLight ">
                                        KD {{amount[i]}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Bid Approved</strong></td>
                                    <td class="colorLight ">
                                        <button nbButton status="primary" (click)="openVerticallyCentered(content)" size="xsmall">Bids</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <i style="font-size: 32px;position:absolute;bottom: 0;right:13px" class="icon ion-md-close-circle"></i>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Approved Bid</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <span *ngFor="let temp of item.bids">
                    <nb-card>
                        <nb-card-body>
                        <span *ngIf="temp.url;else defaultPopAvtarA" >
                            <nb-user size="large" name="{{temp.user_name |  titlecase}}" title={{temp.bid_amount}} picture={{temp.url}}>
                            </nb-user>
                        </span>
                <ng-template #defaultPopAvtarA>
                    <nb-user size="large" name="{{temp.user_name |  titlecase}}" title="KD {{temp.bid_amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                </ng-template>
                <span style="font-size: 21px;position: absolute;right: 14px;top:32px" *ngIf="temp.status=='approved'; else defaultpen">
                                                        <span style="color:green;">Approved</span>
                </span>
                <ng-template #defaultpen><span style="color:red;font-size: 21px;position: absolute;right: 14px;top:32px">Pending</span></ng-template>
                </nb-card-body>
                </nb-card>
                </span>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" title="prev page" nbButton outline status="primary" (click)="decPage()"><</button>
    <button size="xsmall" title={{page}} style="margin-left: 10px;margin-right: 10px" nbButton status="info">{{page}}</button>
    <button size="xsmall" title="next page" nbButton outline status="primary" (click)="incPage()">></button>
</div>