:host nb-layout-header a {
    font-size: 2rem;
    text-decoration: none;
}


/* :host nb-layout-column {
    height: 50vw;
} */

 :host nb-layout-column:first-child {
    background: #f4f4f7;
}

.example-spacer {
    flex: 1 1 auto;
}

.borderless li {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.active {
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    color: #ffffff;
    box-shadow: 0 2px 8px 0 #009dff;
    border-width: 3px;
    border-radius: 11px;
    border-style: solid;
}

li:hover {
    /* border-top: 3px solid #00DD9B !important;
    border-bottom: 3px solid #00DD9B !important;
    border-left: 3px solid #00DD9B !important;
    border-right: 3px solid #00DD9B !important;
    background-color: #00d977; */
    /* color: #ffffff; */
    box-shadow: 0 2px 12px 0 rgba(146, 141, 255, 1);
    /* border-width: 3px; */
    border-radius: 11px;
    /* border-style: solid; */
}

.changePointer {
    cursor: pointer;
}

.hovMe :hover {
    color: red
}

 :host nb-layout-column:first-child {
    background: #f4f4f7;
}

 :host nb-layout-header /deep/ nav {
    justify-content: flex-end;
}