<mat-progress-bar style="position:fixed" *ngIf="toggleLoader" mode="indeterminate"></mat-progress-bar>
<span style="width:100%;height:100%;position: absolute" *ngIf="!toggleLogin;else views">
        <router-outlet></router-outlet>
        </span>
<ng-template #views>
    <nb-layout>

        <nb-layout-header fixed>
            <mat-progress-bar style="position:absolute;top:0;left:0" *ngIf="toggleLoader" mode="indeterminate"></mat-progress-bar>
            <a (click)="togglee()">
                <i title="Toggle" class="icon ion-md-reorder changePointer"></i></a>
            <span title="MazadLive" style="margin-left: 20px; font-size: 25px;color: #3A3F7C ;">MazadLive</span>
            <span class="example-spacer"></span>
            <!-- <span title="Logout" class="changePointer hovMe" style="font-size:19px" (click)="logout()">Logout <i class="icon ion-md-power"></i></span> -->
            <span class=" changePointer">
            <nb-user name="MazadLive Admin" title="" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/mazadlogo.png" [nbContextMenu]="items" nbContextMenuTag="my-context-menu">
            </nb-user>
        </span>
        </nb-layout-header>

        <nb-sidebar #snav>
            <ul class="list-group borderless" style="width:199px;padding-left: 0rem;margin-top:17px;">
                <li routerLink={{routLink[i]}} class="list-group-item changePointer" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" (click)="sideClickToggle()" title="{{item}}" *ngFor="let item of groups;let i = index"><i style="font-size: 16px;" class="{{icons[i]}}"></i> {{item}}</li>
            </ul>
        </nb-sidebar>

        <nb-layout-column>
            <router-outlet></router-outlet>
        </nb-layout-column>
    </nb-layout>
</ng-template>