<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-eye"></i>&nbsp;<strong>Posts</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box" *ngFor="let item of posts">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <span *ngIf="id != null">
                        <nb-badge *ngIf="item.is_deleted" text="Deleted" status="danger" position="top right"></nb-badge>
                </span>
            <nb-card-header style="position: relative;" routerLink="/user-detail/{{item.userDetails[0]._id}}" class="changePointer">
                <div *ngIf="item.userDetails[0].profilePhoto; else defaultImgSmall" style="position: relative;">
                    <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title="{{item.post_created_at | date :'MMMM d, y, h:mm:ss a'}}" picture={{item.userDetails[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                </div>
                <ng-template #defaultImgSmall style="position: relative;">
                    <span class="ngTemp">
                    <nb-user size="large" name="{{item.userDetails[0].username |  titlecase}}" title="{{item.post_created_at | date :'MMMM d, y, h:mm:ss a'}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="item.userDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!item.userDetails[0].is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{item.userDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <carousel>
                    <slide *ngFor="let one of item.post_images; let i=index">
                        <span class="playSpan" *ngIf="one.image_url; else defaultImg">
                                    <img class="sideImgTest playRelative" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" (click)="togView()" (click)="sendBundle(item.post_images)" (click)="openLg(content)" (click)="showOverview()" alt="" style="border-radius: 25px;">
                                    <img class="sideImgTest playAbsolute" (click)="togView()" (click)="sendBundle(item.post_images)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video" >
                                </span>
                        <ng-template #defaultImg>
                            <span class="playSpan">
                            <img class="sideImgTest playRelative" (click)="togView()" (click)="sendBundle(item.post_images)" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Avatar Img">
                            <img class="sideImgTest playAbsolute" (click)="togView()" (click)="sendBundle(item.post_images)" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video">
                            </span>
                        </ng-template>
                    </slide>
                </carousel>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton size="xsmall" (click)="togBid()" (click)="openVerticallyCentered(content)" status="primary" style="width:32.66%">Bids {{item.bids.length}}</button>
                <button nbButton size="xsmall" (click)="togLike()" (click)="openVerticallyCentered(content)" status="info" style="width:32.66%;margin-left:1%">Likes {{item.post_like.length}}</button>
                <button nbButton size="xsmall" (click)="togVote()" (click)="openVerticallyCentered(content)" status="success" style="width:32.66%;margin-left:1%">Votes {{item.vote.length}}</button>
                <button nbButton size="xsmall" routerLink="/post-detail/{{item._id}}" status="warning" style="width:100%;margin-top: 10px;">Post Detail</button>
            </nb-card-footer>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="toggleBid">Bids</h4>
                <h4 class="modal-title" *ngIf="toggleLike">Likes</h4>
                <h4 class="modal-title" *ngIf="toggleVote">Votes</h4>
                <span *ngIf="!item.post_images[0].is_video">
                <h4 class="modal-title" *ngIf="toggleView">Image</h4>
                </span>
                <span *ngIf="item.post_images[0].is_video">
                <h4 class="modal-title" *ngIf="toggleView">Video</h4>
                </span>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>
            <div class="modal-body">
                <div *ngIf="toggleView">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="toggleBid" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let list of item.bids">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="list.url;else defaultPopAvtarA">
                                <nb-user size="large" name="{{list.user_name |  titlecase}}" title="KD {{list.bid_amount}}" picture={{list.url}}>
                                </nb-user>
                                </span>
                                <ng-template #defaultPopAvtarA>
                                    <nb-user size="large" name="{{list.user_name |  titlecase}}" title="KD {{list.bid_amount}}" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{list.bid_user_id}}"><span style="font-size: 21px;position: absolute;right: 14px;top:34px" class="changePointer">Info</span></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="item.bids.length==0">
                        <p>No Bids</p>
                    </div>
                </div>
                <div *ngIf="toggleLike">
                    <div *ngIf="item.post_like.length==0;else realLikes">
                        <p>No Likes</p>
                    </div>
                    <ng-template #realLikes>
                        <p>Total Like: {{item.post_like.length}}</p>
                    </ng-template>
                </div>
                <div *ngIf="toggleVote">
                    <div *ngIf="item.vote.length==0;else realVote">
                        <p>No Votes</p>
                    </div>
                    <ng-template #realVote>
                        <p>Total Votes: {{item.vote.length}}</p>
                    </ng-template>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton outline title="prev page" status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton outline title="next page" status="primary" (click)="incPage()">></button>
</div>