.example-card {
    min-width: 350px;
    max-width: 347px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgStyling {
    border-radius: 50%;
    width: 280px;
    height: 300px;
    /* margin-left: 24px; */
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.center-me {
    margin: 0 auto;
}

.verifySizeAlign {
    width: 100%;
}

.ResendLineAlign {
    margin-top: 5px;
    margin-bottom: 0rem;
    text-align: center;
    color: rgb(160, 159, 159);
    font-size: 12px;
}

.ResendLink {
    color: #401E75;
    text-decoration: underline;
    cursor: pointer;
}