<div style="position:relative;width: 100%;height: 100%;">
    <div class="child">
        <nb-card accent="primary" class="example-card">
            <nb-card-header class="center-me"><img src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/mazadlogo.png" class="imgStyling" alt=""></nb-card-header>
            <nb-card-body>
                <h4 style="text-align: center;margin-top:15px">Verify</h4>
                <p style="text-align: center;color:rgb(160, 159, 159)">We have sent you an email with OTP</p>
                <div style="text-align: center" class="alert alert-success" role="alert" *ngIf="toggleSuccess">
                    Success
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleError">
                    Fail to send please try again
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleIncorrect">
                    Incorrect OTP
                </div>
                <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="toggleNothing">
                    Enter OTP
                </div>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="adminOTP" name="adminOTP" placeholder="Enter OTP" type='text'>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" class="verifySizeAlign" (click)="verifyOTP()">Verify</button>
                <p class="ResendLineAlign">Not Recieved OTP <span class="ResendLink" (click)="resendOTP()">Resend</span></p>
            </nb-card-body>
        </nb-card>
    </div>
</div>