<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-cart"></i>&nbsp;<strong>Order Detail</strong>
    </nb-card-body>
</nb-card>
<nb-alert status="danger" *ngIf="togglePayError">Error Completing Payment</nb-alert>
<nb-alert status="danger" *ngIf="togglePayStatus">Fail to Update Status</nb-alert>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" class="changePointer" style="position:relative">
                <div *ngIf="detail.sellerDetails[0].profilePhoto; else defaultImgSmalla" style="position:relative">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture={{detail.sellerDetails[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                </div>
                <ng-template #defaultImgSmalla>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="detail.type == 'post';else storyView">
                    <carousel>
                        <slide *ngFor="let one of detail.imageDetails[0].post_images; let i=index">
                                <span class="playSpan" *ngIf="one.image_url; else defaultImg">
                                        <img  class="sideImg playRelative" routerLink="/post-detail/{{detail.imageDetails[0]._id}}" [src]=one.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                                        <img class="sideImg playAbsolute" routerLink="/post-detail/{{detail.imageDetails[0]._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video" >
                                </span>
                <ng-template #defaultImg>
                    <span class="playSpan">
                    <img  class="sideImg playRelative" routerLink="/post-detail/{{detail.imageDetails[0]._id}}" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Post" style="border-radius: 25px;">
                    <img class="sideImg playAbsolute" routerLink="/post-detail/{{detail.imageDetails[0]._id}}" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="one.is_video">
                    </span>
                </ng-template>
                </slide>
                </carousel>
                </span>
                <ng-template #storyView>
                    <span *ngIf="!detail.imageDetails[0].is_video; else storyViewVideo">
                    <span class="playSpan" *ngIf="detail.imageDetails[0].url; else defaultImgStory">
                                    <img class="sideImg playRelative" (click)="sendBundleStory(detail.imageDetails[0])" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" [src]=detail.imageDetails[0].url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" style="border-radius: 25px;">
                                    <img class="sideImg playAbsolute" (click)="sendBundleStory(detail.imageDetails)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.imageDetails[0].is_video" >
                            </span>
                    <ng-template #defaultImgStory>
                        <span class="playSpan">
                                    <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="" style="border-radius: 25px;">
                                    <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.imageDetails[0].is_video" >
                            </span>
                    </ng-template>
                    </span>
                    <ng-template #storyViewVideo>
                        <span class="playSpan" *ngIf="detail.imageDetails[0].url; else defaultVideoStory">
                        <img class="sideImg playRelative" (click)="sendBundleStory(detail.imageDetails)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" [src]=detail.imageDetails[0].url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="Story" style="border-radius: 25px;">
                        <img class="sideImg playAbsolute" (click)="sendBundleStory(detail.imageDetails)" (click)="togStory()" (click)="openLg(content)" (click)="showOverview()" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.imageDetails[0].is_video">
                        </span>
                        <ng-template #defaultVideoStory>
                            <span class="playSpan">
                                        <img class="sideImg playRelative" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Story" style="border-radius: 25px;">
                                        <img class="sideImg playAbsolute" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/playButton.png" alt="" *ngIf="detail.imageDetails[0].is_video">
                                        </span>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </nb-card-body>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    <!-- removed -->
                    <!-- <span *ngIf="togglePayAction">Change Status</span> -->
                    <span *ngIf="toggleComp">Payment</span>
                    <span *ngIf="togglePay">Payment</span>
                    <span *ngIf="toggleStry">
                    <span *ngIf="!detail.imageDetails[0].is_video;else labelViewStory">Image</span>
                    <ng-template #labelViewStory>Video</ng-template>
                    </span>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <!-- removed -->
                <!-- <span *ngIf="togglePayAction">
                        <span *ngIf="detail.user_payment_status == 'pending'">
                            <p>Click Change Status To Record Payment</p>
                    <button nbButton size="xsmall" (click)="changeAction(this.detail._id)"  status="success">Change Status</button>
                    </span>
                <span *ngIf="detail.user_payment_status == 'completed'">
                        Payment Already Recorded
                    </span>
                </span> -->
                <span *ngIf="toggleComp">
                    <p><strong>Message</strong> : {{this.detail.paymentReqDetails[0].message}}</p>
                    <p><strong>Status</strong> : {{this.detail.paymentReqDetails[0].status}}</p>
                    <p><strong>Payment Method</strong> : {{this.detail.paymentReqDetails[0].payment_method}}</p>
                </span>
                <span *ngIf="togglePay">
                    <textarea nbInput fullWidth placeholder="Enter comment" [(ngModel)]="textareaItemNgModel"></textarea>
                    <button nbButton size="xsmall" (click)="payment()" style="float:right" status="success">Accept Request</button>
                </span>
                <span *ngIf="toggleStry">
                <router-outlet></router-outlet>
                </span>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div class="size_change">
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" class="changePointer">
                <div *ngIf="detail.sellerDetails[0].profilePhoto; else defaultImgSmallb" style="position:relative">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture={{detail.sellerDetails[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                </div>
                <ng-template #defaultImgSmallb>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <span *ngIf="detail.paymentReqDetails[0].status=='pending'">
                    <button nbButton fullWidth (click)="togPay()" (click)="openVerticallyCentered(content)" status="warning" size="xsmall" style="margin-top:10px;">Pending</button>
                </span>
                <span *ngIf="detail.paymentReqDetails[0].status=='completed'">
                    <button nbButton fullWidth  (click)="togComp()" (click)="openVerticallyCentered(content)"  status="warning" size="xsmall" style="margin-top:10px;">Completed</button>
                </span>
                <span *ngIf="detail.paymentReqDetails[0].status=='requested'">
                    <button nbButton fullWidth (click)="togPay()" (click)="openVerticallyCentered(content)" status="warning" size="xsmall" style="margin-top:10px;">Requested</button>
                </span>
                <!-- <span *ngIf="detail.paymentReqDetails[0].status=='done'">
                        <button nbButton fullWidth status="warning" size="xsmall" style="margin-top:10px;">Done</button>
                </span> -->
            </nb-card-body>
        </nb-card>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position:relative" routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" class="changePointer">
                <div *ngIf="detail.sellerDetails[0].profilePhoto; else defaultImgSmallc" style="position:relative">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture={{detail.sellerDetails[0].profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                </div>
                <ng-template #defaultImgSmallc>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.sellerDetails[0].username |  titlecase}}" title={{detail.created_at}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.sellerDetails[0].is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.sellerDetails[0].is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail.sellerDetails[0]._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <div style="overflow: auto;white-space: nowrap;">
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <td><strong>Order Number</strong></td>
                                <td class="colorLight ">
                                    {{ detail.display_id }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>payment mode</strong></td>
                                <td class="colorLight ">
                                    {{ detail.payment_method }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Order Amount</strong></td>
                                <td class="colorLight ">
                                    KD {{ detail.amount }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Seller name</strong></td>
                                <td class="colorLight ">
                                    <a routerLink="/user-detail/{{detail.sellerDetails[0]._id}}">{{ detail.sellerDetails[0].username }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Buyer name</strong></td>
                                <td class="colorLight ">
                                    <a routerLink="/user-detail/{{detail.user_id}}">{{ detail.user_name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Shipping Address</strong></td>
                                <td class="colorLight ">
                                    {{ address.addressLineOne }} {{ address.addressLineTwo }} {{ address.city }} {{ address.state }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Delivery Status</strong></td>
                                <td class="colorLight ">
                                    {{ detail.status }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Payment Status</strong></td>
                                <td class="colorLight ">
                                    <!-- removed -->
                                    <!-- <span *ngIf="detail.user_payment_status == 'completed'">
                                    <button nbButton size="xsmall" (click)="openVerticallyCentered(content)" (click)="togPayAction()" status="primary">{{ detail.user_payment_status }}</button>
                                </span>
                                    <span *ngIf="detail.user_payment_status == 'pending'">
                                    <button nbButton size="xsmall" (click)="openVerticallyCentered(content)" (click)="togPayAction()" status="primary">{{ detail.user_payment_status }}</button>
                                </span> -->
                                    <span style="color:darkgreen" *ngIf="detail.user_payment_status == 'completed'">
                                        {{ detail.user_payment_status }}
                                    </span>
                                    <span style="color:darkred" *ngIf="detail.user_payment_status == 'pending'">
                                        {{ detail.user_payment_status }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>