.titlePage {
    border-radius: 10px;
    border-top: 3px solid #008CD6 !important;
    border-bottom: 3px solid #008CD6 !important;
    border-left: 3px solid #008CD6 !important;
    border-right: 3px solid #008CD6 !important;
    background-color: #3A3F7C;
    box-shadow: 0 2px 8px 0 #009dff;
    color: white;
}

.row {
    margin-right: 0px
}

.row {
    margin-left: 0px;
}

@media (max-width: 991px) {
    .container-fluid {
        padding-left: 0px
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding-left: 0px
    }
}

.align-all {
    padding-right: 0px;
    padding-left: 0px
}

.align-box {
    padding-left: 0px
}

@media (max-width: 991px) {
    .align-box {
        padding-right: 0px;
        padding-left: 0px
    }
}

.size_change {
    width: 50%;
    float: left;
}

@media (max-width: 991px) {
    .size_change {
        width: 100%;
        float: none;
    }
}

.colorLight {
    color: rgb(160, 159, 159);
}

.sideImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.DocuPointer {
    cursor: pointer;
    text-decoration: underline;
    color: #401E75;
}

.resizeCountry {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.changePointer {
    cursor: pointer;
}

.verifiedAbsolute {
    position: absolute;
    bottom: -5px;
    left: 18px;
}

.verifiedResolution {
    width: 20px;
    height: 20px;
}

.ngTemp {
    position: relative;
}

a:link {
    color: #3A3F7C;
}

a:visited {
    color: #3A3F7C;
}

a:hover {
    color: #3A3F7C;
}

a:active {
    color: #3A3F7C;
}

@media (max-width: 1438px) {
    .firstRow {
        width: 49% !important;
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    .secondRow {
        width: 49% !important;
        margin-left: 1% !important;
        margin-top: 10px !important;
    }
    .lastRow {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
}