<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 16px;" class="icon ion-md-person"></i>&nbsp;<strong>{{user.username |  titlecase}}</strong>
    </nb-card-body>
</nb-card>

<div class="row container-fluid align-all">
    <div class="size_change">
        <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
            <nb-card class="col-sm-12 col-md-12 col-lg-12">
                <nb-card-header style="position: relative">

                    <div *ngIf="user.profilePhoto;else defaultImgSmalla" style="position: relative">
                        <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture={{user.profilePhoto}}>
                        </nb-user>
                        <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                        <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                    </div>

                    <ng-template #defaultImgSmalla>
                        <span class="ngTemp">
                    <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                    </span>
                    </ng-template>
                </nb-card-header>
                <nb-card-body>
                    <span *ngIf="user.profilePhoto; else defaultImg">
                            <img class="sideImg" src={{user.profilePhoto}} alt="" style="border-radius:25px;">
                        </span>
                    <ng-template #defaultImg><img class="sideImg" src="https://www.industowers.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="Avatar Img"></ng-template>
                </nb-card-body>
            </nb-card>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header ">
                <h4 class="modal-title " *ngIf="toggleFollower ">{{'Follower'}}</h4>
                <h4 class="modal-title " *ngIf="toggleFollowing ">{{'Following'}}</h4>
                <h4 class="modal-title " *ngIf="toggleManage ">Manage</h4>
                <h4 class="modal-title " *ngIf="toggleIban ">IBAN Information</h4>
                <h4 class="modal-title " *ngIf="toggleVerification">Verification</h4>
                <h4 class="modal-title " *ngIf="toggleBadgeControlSet">Manage Badge</h4>
                <h4 class="modal-title " *ngIf="toggleProfile">Confirm</h4>
                <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                <span aria-hidden="true ">&times;</span>
                        </button>
            </div>
            <div class="modal-body ">
                <!-- div for set badge true and false -->
                <div *ngIf="toggleBadgeControlSet">
                    <nb-card accent="danger">
                        <nb-card-body>
                            <div style="text-align: center" class="alert alert-danger" role="alert" *ngIf="BadgeError">
                                Error in Updating
                            </div>
                            Verified
                            <mat-slide-toggle style="margin-left:10px" class="example-margin" [(ngModel)]=checkBadge>
                                <img class=" verifiedResolution" style="margin-left:10px" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="checkBadge">
                                <img class=" verifiedResolution" style="margin-left:10px" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!checkBadge">
                            </mat-slide-toggle>
                            <button nbButton size="xsmall" (click)="ActionProceed()" style="float: right" status="danger">Update</button>
                        </nb-card-body>
                    </nb-card>
                </div>
                <!-- div of verification -->
                <div *ngIf="toggleVerification">
                    <div *ngIf="toggleVerifyStatus == null">
                        <p>No Verification Document Found !!</p>
                    </div>
                    <div *ngIf="toggleVerifyStatus == false">
                        <p><strong>Id Number : </strong>{{ user.verification.id_number.length ? user.verification.id_number : 'N.A'}}</p>
                        <p><strong>Type : </strong>{{ user.verification.id_type.length ? user.verification.id_type : 'N.A'}}</p>
                        <p><span class="DocuPointer" (click)="open()">Document View</span></p>
                        <button nbButton size="xsmall" style="width:49%" (click)="rejects(user._id)" status="danger">Reject</button>
                        <button nbButton size="xsmall" style="width:49%;margin-left: 2%" (click)="accepts(user._id)" status="primary">Accept</button>
                    </div>
                    <div *ngIf="toggleVerifyStatus == true">
                        <p><strong>Id Number : </strong>{{ user.verification.id_number.length ? user.verification.id_number : 'N.A'}}</p>
                        <p><strong>Type : </strong>{{ user.verification.id_type.length ? user.verification.id_type : 'N.A'}}</p>
                        <p><strong>Payment Status : </strong>{{ user.verification.payment_status.length ? user.verification.payment_status : 'N.A'}}</p>
                        <p><span class="DocuPointer" (click)="open()">Document View</span></p>
                    </div>
                </div>
                <!-- Iban -->
                <span *ngIf="toggleIban">
                    <div *ngIf="user.IBAN;else wrong">
                        <p><strong>banNumber</strong> : {{user.IBAN.banNumber}}</p>
                        <p><strong>Bank Name</strong> : {{user.IBAN.bankName}}</p>
                        <p><strong>Country Code</strong> : {{user.IBAN.country_code}}</p>
                        <p><strong>Phone Number</strong> : {{user.IBAN.phoneNumber}}</p>
                    </div>
                    <ng-template #wrong><strong>Not Found</strong></ng-template>
                </span>
                <!--Follower-->
                <div *ngIf="toggleFollower" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let list of user.followers">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="list.profilePhoto;else defaultPopAvtarA">
                            <nb-user size="large" name="{{list.username |  titlecase}}" title="" picture={{list.profilePhoto}}>
                            </nb-user>
                            </span>
                                <ng-template #defaultPopAvtarA>
                                    <nb-user size="large" name="{{list.username |  titlecase}}" title="" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{list._id}}"><span style="font-size: 21px;position: absolute;right: 14px;top:34px" class="changePointer">Info</span></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="FollowerNumber==0">
                        <p>No Follower</p>
                    </div>
                </div>
                <!--Following-->
                <div *ngIf="toggleFollowing" style="min-height:auto;max-height:400px;overflow-y: auto;">
                    <div *ngFor="let list of user.following">
                        <nb-card>
                            <nb-card-body>
                                <span *ngIf="list.profilePhoto; else defaultPopAvtarB">
                            <nb-user size="large" name="{{list.username |  titlecase}}" title="" picture={{list.profilePhoto}}>
                            </nb-user>
                            </span>
                                <ng-template #defaultPopAvtarB>
                                    <nb-user size="large" name="{{list.username |  titlecase}}" title="" picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                                    </nb-user>
                                </ng-template>
                                <a href="/user-detail/{{list._id}}"><span style="font-size: 21px;position: absolute;right: 14px;top:34px" class="changePointer">Info</span></a>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div *ngIf="FollowingNumber==0">
                        <p>No Following</p>
                    </div>
                </div>
                <!-- manage -->
                <div *ngIf="toggleManage ">
                    <nb-card>
                        <nb-card-header style="position: relative">
                            <div *ngIf="user.profilePhoto; else defaultImgSmallc" style="position: relative">
                                <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture={{user.profilePhoto}}>
                                </nb-user>
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </div>
                            <ng-template #defaultImgSmallc>
                                <span class="ngTemp">
                            <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </span>
                            </ng-template>
                        </nb-card-header>
                        <nb-card-body>
                            <div style="text-align: center" class="alert alert-success" role="alert" *ngIf="toggleSuccessManage">
                                Success
                            </div>
                            <div style="text-align: center;" class="alert alert-danger" role="alert" *ngIf="toggleErrorManage">
                                {{ManageErrorMsg}}
                            </div>
                            <button size="xsmall" style="width:32.66%;" (click)="postManage()" nbButton status="warning">Post</button>
                            <button size="xsmall" style="width:32.66%;margin-left: 1%" (click)="storyManage()" nbButton status="primary">Story</button>
                            <button size="xsmall" style="width:32.66%;margin-left: 1%" (click)="liveManage()" nbButton status="info">Live</button>
                            <div style="text-align: center;margin-top: 10px;color:black !important" class="alert alert-success" role="alert">
                                {{manageTitle}}
                            </div>
                            <input type="number" style="width:100%;border:1px solid skyblue;padding:8px;border-radius: 10px" name="quantity" min="1" [(ngModel)]="manageNumber" name="manageNumber">
                            <button size="xsmall" style="margin-top: 10px;" fullWidth (click)="doneManage()" nbButton status="success">Done</button>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div *ngIf="toggleProfile">
                    <span *ngIf="user.profilePhoto !='';else NoProfileFound">
                        Remove Profile Photo
                        <button size="xsmall" style="margin-top: 10px;width:32.66%;float:right;" (click)="removeProfilePicAction(user._id)" nbButton status="danger">Continue</button>
                    </span>
                    <ng-template #NoProfileFound>
                        <nb-alert status="warning">No Profile Photo Found</nb-alert>
                    </ng-template>
                </div>
            </div>
            <!-- <div class="modal-footer ">
            <button type="button " class="btn btn-light " (click)="modal.close( 'Close click') ">Close</button>
        </div> -->
        </ng-template>
    </div>
    <div class="size_change">
        <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
            <nb-reveal-card class="col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px">
                <nb-card-front style="margin-left: 0px;margin-right: 0px">
                    <nb-card>
                        <nb-card-header>
                            <div *ngIf="user.profilePhoto; else defaultImgSmalld" style="position: relative">
                                <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture={{user.profilePhoto}}>
                                </nb-user>
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </div>
                            <ng-template #defaultImgSmalld>
                                <span class="ngTemp">
                            <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </span>
                            </ng-template>
                        </nb-card-header>
                        <nb-card-body>
                            <div style="overflow: auto;white-space: nowrap;">
                                <table class="table table-striped">
                                    <tbody>

                                        <tr>
                                            <td><strong>Name</strong></td>
                                            <td class="colorLight ">
                                                {{user.username | titlecase}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>
                                            <td class="colorLight ">
                                                {{ user.email }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone</strong></td>
                                            <td class="colorLight ">
                                                {{ user.phone }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Country</strong></td>
                                            <td class="colorLight ">
                                                <img class="resizeCountry" src="/assets{{countryInfo.flagImageUrl}}" alt="">{{countryInfo.countryName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>IBAN</strong></td>
                                            <td class="colorLight ">
                                                <!-- <button nbButton size="xsmall" (click)="togIban()" (click)="openVerticallyCentered(content)" status="primary">Detail</button> -->
                                                <span style="color: #3A3F7C" class="changePointer" (click)="togIban()" (click)="openVerticallyCentered(content)">View Detail</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Description</strong></td>
                                            <td class="colorLight ">
                                                {{ user.description.length ? user.description : 'NA' }}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <i style="font-size: 32px;position:absolute;bottom: 0;right:13px;color:red" class="icon ion-md-switch"></i>
                        </nb-card-body>

                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                    <nb-card status="danger" style="height: -webkit-fill-available;">
                        <nb-card-header>
                            <div *ngIf="user.profilePhoto; else defaultImgSmalle" style="position: relative">
                                <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture={{user.profilePhoto}}>
                                </nb-user>
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                                <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </div>
                            <ng-template #defaultImgSmalle>
                                <span class="ngTemp">
                            <nb-user size="large" name="{{user.username |  titlecase}}" title={{countryInfo.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                            </nb-user>
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="user.is_verified">
                            <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!user.is_verified">
                            </span>
                            </ng-template>
                        </nb-card-header>
                        <nb-card-body>
                            <span *ngIf="!toggleBlock; else elseUnBlock">
                            <a  class="btn btn-danger firstRow" (click)="fnBlock()" style="color:white;width:32.66%" role="button">Block</a>
                        </span>
                            <ng-template #elseUnBlock><a class="btn btn-warning firstRow" style="color:white;width:32.66%" (click)="fnBlock()" role="button">UnBlock</a></ng-template>
                            <button nbButton size="xsmall" class="secondRow" status="warning" routerLink="/user-password/{{user._id}}" style="width:32.66%;margin-left: 1%">Change Password</button>
                            <button nbButton size="xsmall" class="firstRow" (click)="togProfile()" (click)="openVerticallyCentered(content)" style="width:32.66%;margin-left: 1%;background:#FF6921">Remove Photo</button>
                            <button nbButton size="xsmall" class="secondRow" status="success" (click)="manage()" (click)="openVerticallyCentered(content)" style="width:32.66%;margin-top:10px;">Manage</button>
                            <button nbButton size="xsmall" class="firstRow" (click)="openVerticallyCentered(content)" (click)="togVerification()" status="info" style="width:32.66%;margin-left: 1%;margin-top:10px;">Verification</button>
                            <button nbButton size="xsmall" class="secondRow" (click)="openVerticallyCentered(content)" (click)="togSetVerif()" style="width:32.66%;margin-left: 1%;margin-top:10px;background: #93d1d8">Set Verify</button>
                            <button nbButton size="xsmall" class="firstRow" routerLink="/post-list/{{user._id}}" status="primary" style="width:32.66%;margin-top:10px;">Post {{PostNumber}}</button>
                            <button nbButton size="xsmall" class="secondRow" (click)="FollwingOr()" (click)="openBackDropCustomClass(content) " status="primary" style="width:32.66%;margin-top:10px;margin-left:1%;">Following {{FollowingNumber}}</button>
                            <button nbButton size="xsmall" class="firstRow" (click)="FolloweOr()" (click)="openBackDropCustomClass(content) " status="primary" style="width:32.66%;margin-top:10px;margin-left:1%;">Follower {{FollowerNumber}}</button>
                            <button nbButton size="xsmall" class="secondRow" routerLink="/story-list/{{user._id}}" status="primary" style="width:32.66%;margin-top:10px;">Stories {{StoryNumber}}</button>
                            <i style="font-size: 32px;position:absolute;bottom: 0;right:13px" class="icon ion-md-close-circle"></i>
                        </nb-card-body>
                    </nb-card>
                </nb-card-back>
            </nb-reveal-card>
        </div>
    </div>
</div>