<nb-card>
    <nb-card-body class="titlePage">
        <i style="font-size: 20px;" class="icon ion-md-paper"></i>&nbsp;<strong>Verify Request</strong>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="toggleWarning">
    <nb-card-body style="background: salmon;border-radius: 10px">
        <strong>No Records</strong>
    </nb-card-body>
</nb-card>
<div class="row container-fluid align-all">
    <div class="row col-sm-12 col-md-12 col-lg-4 align-box" *ngFor="let detail of list; let i = index">
        <nb-card class="col-sm-12 col-md-12 col-lg-12">
            <nb-card-header style="position: relative;" routerLink="/user-detail/{{detail._id}}" class="changePointer">
                <div *ngIf="detail.profilePhoto; else defaultImgSmall" style="position: relative;">
                    <nb-user size="large" name="{{detail.username |  titlecase}}" title={{detail.country.countryName}} picture={{detail.profilePhoto}}>
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                </div>
                <ng-template #defaultImgSmall>
                    <span class="ngTemp">
                    <nb-user size="large" name="{{detail.username |  titlecase}}" title={{detail.country.countryName}} picture="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/userImage.png">
                    </nb-user>
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/verified.png" alt="" *ngIf="detail.is_verified">
                    <img class="verifiedAbsolute verifiedResolution" src="https://s3.us-east-2.amazonaws.com/mazadpostimages/adminImages/not+verified.png" alt="" *ngIf="!detail.is_verified">
                    </span>
                </ng-template>
                <i routerLink="/user-detail/{{detail._id}}" style="font-size: 32px;position: absolute;right: 0;top:27px" class="icon ion-md-arrow-dropright changePointer"></i>
            </nb-card-header>
            <nb-card-body>
                <p><strong>Id Number</strong> : {{ detail.verification.id_number.length ? detail.verification.id_number : 'N.A'}}</p>
                <p><strong>Id Type</strong> : {{ detail.verification.id_type.length ? detail.verification.id_type : 'N.A'}}</p>
                <p><strong (click)="openLg(content)" style="text-decoration: underline;color: #3A3F7C">Document View</strong></p>
            </nb-card-body>
            <nb-card-footer>
                <span *ngIf="detail.verification.status == 'pending'; else wait">
                    <button nbButton size="xsmall" style="width:49%" (click)="rejects(detail._id)" status="danger">Reject</button>
                    <button nbButton size="xsmall" style="width:49%;margin-left:2%" (click)="accepts(detail._id)" status="primary">Accept</button>
                </span>
                <ng-template #wait>
                    <nb-alert style="text-align: center;margin-bottom: 0px" (click)="waiting()" status="warning">Waiting For Tap Payment</nb-alert>
                </ng-template>
            </nb-card-footer>
        </nb-card>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Document</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img [src]=detail.verification.image_url onerror="this.onerror=null;this.src='https://countrylakesdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.jpg';" alt="" class="col-lg-12 col-md-12 col-sm-12" style="border-radius: 25px;height:600px;object-fit: cover">
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
    </div>
</div>
<div [hidden]="toggleWarning">
    <button size="xsmall" nbButton outline title="prev page" status="primary" (click)="decPage()"><</button>
    <button size="xsmall" nbButton title={{page}} style="margin-left: 10px;margin-right: 10px" status="info">{{page}}</button>
    <button size="xsmall" nbButton outline title="next page" status="primary" (click)="incPage()">></button>
</div>